.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  background-color: var(--light-color);
  width: 100svw;

  position: absolute;
  top: 0;
  left: 0;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-family: var(--font-play);
}

.link:hover {
  transform: translateY(-10%);
  transition: transform 0.2s;
  filter: drop-shadow(0 0 5px #00000080);
}
