.main-container {
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;

  background-color: var(--light-color);
  border-radius: 5rem;

  padding: 2rem;

  font-family: var(--font-roboto);
}

.profile-container {
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 0.5rem 2rem 2rem 2rem;
  margin: 0.5rem;

  text-align: left;

  min-width: 73vw;
  min-height: 15vh;
  max-width: 73vw;
  max-height: 15vh;
  width: auto;
  height: auto;
  overflow: auto;

  margin-left: 5rem;

  font-family: var(--font-noto);
}

.posts-container {
  min-width: 85vw;
  min-height: 50vh;
  max-width: 85vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  overflow: auto;
}

.individual-post {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;

  background-color: var(--dark-color);
  border-radius: 1rem;

  padding: 0.5rem 2rem 2.5rem 2rem;
  margin: 0.5rem;

  font-family: var(--font-noto);
}

.post-timestamp {
  position: absolute;
  bottom: 5px;
  right: 2.3rem;
  color: var(--violet-11);
}

.like-container {
  display: flex;
  flex-direction: row;

  position: absolute;
  bottom: 5px;
  left: 2.3rem;
}

.FormRoot {
  margin: 0;
  padding: 0;
}

.Likes {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.05rem 1rem 0.05rem 1rem;
  margin: 0;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 25px;
  width: 30%;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a4);
}

.Likes:hover {
  background-color: var(--mauve-3);
  cursor: pointer;
}

.Likes:focus {
  box-shadow: 0 0 0 2px black;
}

.profile-image {
  border-radius: 50%;
  border: var(--darker-color) 5px solid;
  position: absolute;
  top: 3rem;
  left: 1.5rem;
}

@media (max-width: 480px) {
  .post-timestamp {
    display: none;
  }

  .profile-container {
    min-width: 53vw;
    max-width: 53vw;
  }

  .posts-container {
    min-width: 70vw;
    max-width: 70vw;
  }
}

@media (min-width: 768px) {
  .profile-container {
    min-width: 31vw;
    max-width: 31vw;
  }

  .posts-container {
    min-width: 40vw;
    max-width: 40vw;
  }
}
